<!-- Views/Conteudo/Delete.cshtml -->
@model Just.Models.Conteudo

<h1>Excluir Conteúdo</h1>
<p>Você tem certeza que deseja excluir o conteúdo!
    <!--<strong>@Model.Titulo</strong>?</p>--->

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <button type="submit">Excluir</button>
    <a asp-action="Index">Cancelar</a>
</form>