@model Just.Models.Playlist

@{
    ViewData["Title"] = "Delete Playlist";
}

<h2>Delete Playlist</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <h4>@Model.Nome</h4>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>