<!-- Views/Criador/Delete.cshtml -->
@model Just.Models.Criador

<h1>Excluir Criador</h1>
<p>Você tem certeza que deseja excluir o criador <strong>@Model.Nome</strong>?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <button type="submit">Excluir</button>
    <a asp-action="Index">Cancelar</a>
</form>