<!-- Views/Criador/Edit.cshtml -->
@model Just.Models.Criador

<h1>Editar Criador</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="ID" />
    <div>
        <label asp-for="Nome"></label>
        <input asp-for="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>
    <button type="submit">Salvar</button>
    <a asp-action="Index">Cancelar</a>
</form>