<!-- Views/Conteudo/Edit.cshtml -->
@model Just.Models.Conteudo

<h1>Editar Conteúdo</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="ID" />
    <div>
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" />
        <span asp-validation-for="Titulo"></span>
    </div>
    <div>
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" />
        <span asp-validation-for="Descricao"></span>
    </div>
    <button type="submit">Salvar</button>
    <a asp-action="Index">Cancelar</a>
</form>