@model IEnumerable<Just.Models.Criador>

<h1>Criadores</h1>
<a asp-action="Create">Adicionar Criador</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var criador in Model)
        {
            <tr>
                <td>@criador.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@criador.ID">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@criador.ID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>